.block1{
    position: relative;
    height: 200px;
    width: 850px;
    top: -290px;
    left: 225px;
    line-height: 2;
}
.block2{
    position: relative;
    height: 200px;
    width: 850px;
    top: -290px;
    left: 225px;
}
.block3{
    position: relative;
    top: 0px;
    left: 10px;
}
.block4{
    position: relative;
    top: 0px;
    left: 10px;
}
.block5{
    position: relative;
    top: -390px;
    left: 14px;
}
.block6{
    position: relative;
    top: -780px;
    left: 960px;
    font-size: 50px;
    font-weight: 400;
}
.col-md6{
    height: 450px;
}
.col-md7{
    height: 30px;
}