.user_info_block{
    position: relative;
    text-align: center;
    top: 15px;
}
.manga_descr_block{
    position: relative;
    height: 200px;
    width: 850px;
    top: -180px;
    left: 215px;
}
.header_block{
    position: relative;
    top: 0px;
    left: 10px;
}
.manga_image_block{
    position: relative;
    top: 0px;
    left: 30px;
}
.user_border{
    position: relative;
    top: 15px;
    left: 250px;
    height: 565px;
    width: 600px;
    min-width: 600px;
    background: rgb(161, 223, 247);
    border: 5px double blue;
    border-radius: 10px 10px 10px 10px;
}
.manga_border{
    position: relative;
    top: 15px;
    height: 230px;
    min-width: 1100px;
    background: rgb(247, 158, 62);
}
a:link, a:visited, a:hover, a:active{
color: #000;
text-decoration: none;
}
h3{
    position: relative;
    text-align: center;
    top: 15px;
}