{% extends "base.html" %}

{% block content %} <!--Шаблон добавления поста-->
    <center><h1>Добавление поста</h1></center>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>

        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(class="form-control") }}<br>
             {% for error in form.content.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}