{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/genre_page.css">
</head>
<div class="genre_border border rounded">
    <div class="header_block">
        <h1>{{genre.name_of_genre}}</h1>
    </div>
    <div class="genre_image_block">
        <img width="200px" height="300px" src="{{genre.cover}}" alt="Изображение не найдено">
    </div>
    <div class="genre_descr_block">
        {{genre.description}}
    </div>
</div>
{% for manga in genre.mangas%}
<a href="/manga_page/{{manga.id}}">
    <div class="manga_border border rounded">
        <div class="header_block">
            <h4>{{manga.name}}</h4>
        </div>
        <div class="manga_image_block">
            <img width="125px" height="175px" src="{{manga.cover}}" alt="Изображение не найдено">
        </div>
        <div class="manga_descr_block">
            {{manga.description}}
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}