{% extends "base.html" %}

{% block content %}  <!--Страница манги-->
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/manga_page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<div class="manga_border border rounded">
    <div class="header_block">
        <h1>{{manga.name}}</h1>
    </div>
    <div class="manga_image_block">
        <img width="200px" height="280px" src="{{manga.cover}}" alt="Изображение не найдено">
    </div>
    <div class="manga_info_block">
        <strong>Автор: </strong>
        {{manga.author}} <br>
        <strong>Художник: </strong>
        {{manga.painter}} <br>
        <strong>Перевод: </strong>
        {{manga.translate}} <br>
        <strong>Дата релиза: </strong>
        {{manga.date_of_release}} <br>
        <strong>Переводчики: </strong>
        {{manga.translators}} <br>
        <strong>Жанры: </strong>
        {% for genre in manga.genres%}  <!--Вывод жанров манги с ссылками-->
        <a href="/genre_page/{{genre.id}}">{{genre.name_of_genre}}</a>{% if manga.genres[-1] != genre %},
        {% endif %}
        {% endfor %}
    </div>
    <div class="manga_descr_block">
        <strong>Описание: </strong>
        {{manga.description}}
    </div>
    <div class="read_button_block">
        <a href="/chapter_page/{{manga.id}}/{{manga.chapters[0].id}}/1" class="btn btn-warning">Читать с первой главы</a>
    </div>
    <div class="cnt_of_likes_block">
        {{manga.cnt_of_likes}}
    </div>
    <div class="shaka_like">
        {% if current_user.is_authenticated %}  <!--Проверка условий для определения состояния лайка-->
        {% if flag %}
        <a href="/shaka_like_switch/{{manga.id}}">
            <img width="70px" alt="Изображение не найдено" src="/static/img/invariant/shaka-like.png"/></a>
        {% else %}
        <a href="/shaka_like_switch/{{manga.id}}">
            <img width="70px" alt="Изображение не найдено" src="/static/img/invariant/shaka-dislike.png"/></a>
        {% endif %}
        {% else %}
        <button type="button" style="outline: none;" data-toggle="modal" data-target="#myModal">
            <img width="70px" src="/static/img/invariant/shaka-dislike.png" alt="Изображение не найдено">
        </button>
        {% endif %}
    </div>
</div>
<div class="header_block">
    <h4>Список глав</h4>
</div>
{% for chapter in manga.chapters[::-1]%}  <!--Вывод списка глав манги-->
<div class="chapter_border border rounded">
    <a href="/chapter_page/{{manga.id}}/{{chapter.id}}/1">
        <div class="header_block">
            {{chapter.name}}
        </div>
    </a>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Чтобы оценить мангу, вам необходимо войти в свой профиль.<br><br>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Ок</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}